<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Widget>
            <version>0.1.0</version>
        </Aligent_Widget>
    </modules>
    <global>
        <models>
            <aligent_widget>
                <class>Aligent_Widget_Model</class>
                <resourceModel>aligent_widget_resource</resourceModel>
            </aligent_widget>
            <aligent_widget_resource>
                <class>Aligent_Widget_Model_Resource</class>
            </aligent_widget_resource>
            <widget_resource>
                <rewrite>
                    <widget_instance_collection>Aligent_Widget_Model_Resource_Widget_Widget_Instance_Collection</widget_instance_collection>
                </rewrite>
            </widget_resource>
        </models>
        <blocks>
            <aligent_widget>
                <class>Aligent_Widget_Block</class>
            </aligent_widget>
            <widget>
                <rewrite>
                    <adminhtml_widget_instance_edit_tab_main>Aligent_Widget_Block_Widget_Adminhtml_Widget_Instance_Edit_Tab_Main</adminhtml_widget_instance_edit_tab_main>
                    <adminhtml_widget_instance_grid>Aligent_Widget_Block_Widget_Adminhtml_Widget_Instance_Grid</adminhtml_widget_instance_grid>
                </rewrite>
            </widget>
        </blocks>
        <helpers>
            <aligent_widget>
                <class>Aligent_Widget_Helper</class>
            </aligent_widget>
        </helpers>
        <resources>
            <aligent_widget_setup>
                <setup>
                    <module>Aligent_Widget</module>
                </setup>
            </aligent_widget_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <widget_widget_instance_save_before>
                <observers>
                    <aligent_widget>
                        <type>singleton</type>
                        <class>aligent_widget/observer</class>
                        <method>widgetWidgetInstanceSaveBefore</method>
                    </aligent_widget>
                </observers>
            </widget_widget_instance_save_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <widget_widget_instance_collection_load_before>
                <observers>
                    <aligent_widget>
                        <type>singleton</type>
                        <class>aligent_widget/observer</class>
                        <method>widgetWidgetInstanceCollectionLoadBefore</method>
                    </aligent_widget>
                </observers>
            </widget_widget_instance_collection_load_before>
        </events>
    </frontend>
</config>
